<div class="content">
  <section class="hero">
    <div class="container">
      <div class="text">
        <h1>
          Welcom to <br>
          Lombok TypeScript <br>
          Community
        </h1>
        <p>Share your Knowledge and Experience <br>
          For Building Each Others</p>
      </div>

      <div class="btn-cta">
        <a class="btn-project" href="#">Our Project</a>
        <a class="btn-event" href="#">Past Event</a>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <div class="about-content">
        <div class="about-text">
          <h2>Lombok TypeScript Community</h2>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eaque rerum doloribus. Vero laborum
            corporis
            quisquam omnis nulla quam suscipit tempore quaerat, hic, optio dolorem laudantium nemo aliquam, officia
            veritatis.
          </p>
        </div>

        <div class="about-image">
          <img
            src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="About">
        </div>
      </div>
    </div>
  </section>
</div>