footer {
  background-color: #171D22;
  padding: 50px 0 20px;

  .container {
    h4 {
      color: #ffffff
    }

    img {
      width: 50%;
    }

    hr {
      color: #ffffff;
      margin-top: 50px
    }

    span {
      color: #ffffff;
      font-size: 13px;
    }
  }
}